@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: "Nunito", sans-serif;
}

.logo {
    width: 180px;
    height: 70px;
    background-image: url('../src/assets/eventflix_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    justify-content: center;
}

.registerContainer {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.formContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.formContainer h3 {
    text-align: center;
    margin-bottom: 10px;
}

.formContainer h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 800;
}

.formContainer p {
    text-align: center;
    margin-top: 20px;
}

.imageContainer {
    width: 50%;
    height: 100vh;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-bottom: 1px solid #000000;
    gap: 15px;
}

#registerForm input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
}

#registerForm input::placeholder {
    color: #b3b3b3;
}

#btnContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.btnRegister {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.btnRegister.selected {
    background-color: cornflowerblue;
    color: #fff;
}

#btnSubmit {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px 25px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
